.hectic_form {
	font-size: 20px;
	position: absolute;
	top: 138px;
	left: 50px;
}

.box_field {
	position: absolute;
	left: 300px;
}

input[type="button"] {
	background-color: #74e8a8;
	font-family: "Verdana";
	font-size: 16px;

	position: absolute;
	left: 800px;
	top: 410px;

	width: 70%;
}

.submit_text {
	position: absolute;
	left: 864px;
	top: 434px;
}