.hectic_form {
	font-size: 20px;
	position: absolute;
	top: 138px;
	left: 50px;
}

.box_field {
	position: absolute;
	left: 300px;
}

input[type="button"] {
	background-color: #74e8a8;
	font-family: "Verdana";

	position: absolute;
	left: 90%;
	top: 410px;
}

.submit_text {
	position: absolute;
	top: 472px;
	left: 1188px;
	font-size: 16px;
}

#submit {
	width: 95%;
}

.covfefe {
	position: absolute;
	top: 10%;
	left: 0%;

	width: 87%;
	height: 90%;
}

#message {
	color: #74e8a8;
}
#message2 {
	color: #e27d60;
}